<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
<h2>Database Results</h2>

<ul>
  Hello there!
    <% results.forEach(function(r) { %>
        <li>
            <%= r.title_id %> - 
            <%= r.title_name %> -
            <%= r.genre_id %> - 
            <%= r.media_type_tv %> - 
            <%= r.media_type_film %> - 
            <%= r.media_type_other %>
          </li>
    <% }); %>
</ul>

</div>
</body>
</html>
