<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
<h2>Database Results</h2>
<ul>
  Hello there!
    <% results.forEach(function(result) { %>
      <li>
          <%= result.title_id %> - 
          <%= result.title_name %> -
          <%= result.genre_id %> - 
          <%= result.media_type_tv %> - 
          <%= result.media_type_film %> - 
          <%= result.media_type_other %>
      </li>
    <% }); %>
    <% results.forEach(function(result_genre) { %>
      <li>
        <%= result_genre.genre_id %> - 
        <%= result_genre.genre_name %>
      </li>
    <% }); %>
    <% results.forEach(function(result_user) { %>
      <li>
        <%= result_user.username %> - 
        <%= result_user.password %>
      </li>
    <% }); %>
</ul>
</div>
</body>
</html>
